body {
  font-family: 'Montserrat Alternates', sans-serif;
font-size: 20px;
line-height: 1.5;
color: $white;

}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  @include bp($sm) {
    margin-right: 20px;
  }
}
.title{
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 120px;
  text-align: center;
  &--blue{
  color: $main;
  }
  @include bp($lg){
    margin-bottom: 20px;
    font-size: 50px;
  }
  @include bp($sm){
    font-size: 30px;
  }
  @media screen and (max-width: 1024px) and (orientation: landscape) {margin-bottom: 20px;}
  @media screen and (max-width: 992px) and (orientation: landscape) {font-size: 30px;}
}
.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  // .menu__list

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include bp($xl) {
      position: absolute;
      top: 0;
      left: -10px;
      right: -10px;
      z-index: 10;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      padding: 100px 0;
      text-align: center;
      overflow: auto;
      background-color: rgba(109, 62, 162, 0.932);
      transform: translateY(-200%);
      transition: transform 0.5s ease-in;
    }

    &--active {
      transform: translateY(0);
    }
  }

  // .menu__item

  &__item {
    &:not(:last-child) {
      margin-right: 32px;

      @include bp($xl) {
        margin-right: 0;
      }
    }

    @include bp($xl) {
      display: block;
      width: 100%;
    }
  }

  // .menu__link

  &__link {
    border: 1px solid transparent;
    transition: color 0.2s, border-color 0.2s, border 0.2s;

    &:hover {
      border-bottom-color: $white;
    }

    &:active {
      color: $menu;
      border-bottom-color: $menu;
    }

    &:focus {
      outline: transparent;
      border-bottom: 2px solid $menu;
    }

    @include bp($xl) {
      display: block;
      font-size: 36px;
      padding: 30px 0;
    }

    @include bp($sm) {
      font-size: 25px;
      padding: 25px 0;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
      font-size: 20px;
      padding: 10px 0;
    }
  }


  &__btn {
    padding-left: 25px;
    position: relative;
    font-size: 16px;
    color: $menu;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.2s;

    &::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      left: -4px;
      top: 0;
      background-image: url(../images/cursor-small.png);
      background-repeat: no-repeat;

      @include bp($xl) {
        width: 0;
        height: 0;
      }
    }

    &:hover {
      color: $green;
    }

    &:active {
      color: $black;
    }

    @include bp($xl) {
      width: 100%;
      padding: 20px 5px;
      font-size: 28px;
    }

    @include bp($sm) {
      font-size: 25px;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
      padding: 0;
    }
  }

  // .menu__contacts

  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include bp($xl) {
      flex-direction: column;
      margin: 0 auto;
    }
  }

  // .menu__phone

  &__phone {
    margin-right: 24px;
    transition: color 0.5s, border-bottom-color 0.5s;

    @include bp($xl) {
      margin-right: 0;
      order: 2;
    }

    &:hover {
      color: $green;
      border-bottom-color: $green;
    }
  }

  // .menu__icons

  &__icons {
    margin: 5px 0 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .menu__icon

  &__icon {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  // .menu__link-icon

  &__link-icon {

    &:hover {
      svg {
        fill: $green;
      }
    }
  }

  // .menu__svg

  &__svg {

    fill: $white;
    transition: fill 0.5s;

    &--vk {
      width: 24px;
      height: 13px;
    }

    &--instagram {
      width: 18px;
      height: 18px;
    }

    &--telegram {
      width: 20px;
      height: 17px;
    }
  }
}

.btn {
  padding: 12px 110px;
  font-size: 24px;
  font-weight: 400;
  color: $white;
  background-color: #2E0062;
  box-shadow: 0px 4px 0px #230C3D;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;

  @include bp($xxl) {
    padding: 12px 30px 12px 60px;
  }

  &:hover {
    color: $black-l;
    background-color: $main-l;
    box-shadow: 0px 4px 0px #4b1b81;
  }

  &:active {
    color: $white;
    background-color: $black-l;
    box-shadow: 0px 4px 0px $black;
  }
}

.burger {
  display: none;

  @include bp($xl) {
    position: absolute;
    display: block;
    width: 30px;
    height: 25px;
    right: 15px;
    top: 20px;
    z-index: 15;
    background-color: transparent;
    border: none;
    outline: transparent;

    span {
      position: absolute;
      left: 0;
      top: 11px;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: all 0.3s ease 0s;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: all 0.4s ease 0s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &--active {
    span {
      display: none;
    }

    &::before {
      top: 12px;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 11px;
      transform: rotate(-45deg);
    }
  }
}