@mixin line-clamp($property) {
  -webkit-line-clamp: $property;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// @include line-clamp();

@mixin bp($width) {
  @media only screen and (max-width: $width + 'px') {
      @content;
  }
}