<section class="slider-top">
  <div class="container--slider">
    <h2 class="slider-top__title title title--blue">
      Опытные тренеры
    </h2>

    <ul class="slider-top__inner">
      <li class="slider-top__item">
        <div class="slider-top__wrap">
          <div class="slider-top__tabs tabs">
            <p class="slider-top__name">Александр Бажутов</p>
            
            <ul class="tabs__top">
              <li class="tabs__item tabs__item--active">
                <a class="tabs__link tabs__link--one tabs__link--active" href="#tab-a1">Достижения</a>
              </li>
              <li class="tabs__item">
                <a class="tabs__link tabs__link--two" href="#tab-a2">Образование</a>
              </li>
            </ul>

            <ul class="tabs__content">
              <li class="tabs__box tabs__box--active" id="tab-a1">
                <div class="tabs__text">
                  <p>
                    Здравствуйте! Меня зовут Александр, я научу вашего ребенка профессионально владеть мячом.
                  </p>
                  <p>
                    Я тоже когда-то начал карьеру футболиста с обучения в спортивной школе. Многократно побеждал в
                    детско-юношеских областных и городских чемпионатах.
                  </p>
                  <p>
                    Играл в юниорской сборной Анжи Зеленодольск. Победил в зимнем турнире и чемпионате «Звезда
                    Санкт-Петербург» в 2018 году.
                  </p>
                  <p>
                    Сейчас я действующий футболист ПФК «Звезда Санкт-Петербург» с тренерской лицензией.
                  </p>
                  <p>
                    В футбольной школе я помогаю таким же ребятам, каким я был когда-то, делать шаги к своей мечте.
                  </p>
                </div>
              </li>

              <li class="tabs__box" id="tab-a2">
                <div class="tabs__text">
                  <p> Диплом магистра и бакалавра физической культуры ФГБОУ ВПО «НГУ ФК, Спорта и Здоровья им. П. Ф.
                    Лесгафта, Санкт-Петербург» профиль обучения: тренировка высококвалифицированных спортсменов в
                    избранном
                    виде спорта (футбол).</p>
                  <p>Семинары и Вебинары:</p>
                  <ul class="tabs__list">
                    <li class="tabs__list-item">Вебинар со спортивным психологом на тему «Спортивная психология
                      дошкольников»;</li>
                    <li class="tabs__list-item">Вебинар с врачем сборной Германии "Методика оценки игрока TIPS";</li>
                    <li class="tabs__list-item">Семинары с главным тренером и создателем методик ФШ «ЮНИОР» Сергеем
                      Герасимцом на темы : "Коммуникация между тренером и юными футболистами"; Профилактика травматзма в
                      детском футболе и многое другое!</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="tabs__image">
            <img class="tabs__img" src="images/trener1.png" alt="photo">
          </div>
        </div>
      </li>

      <li class="slider-top__item">
        <div class="slider-top__wrap">
          <div class="slider-top__tabs tabs">
            <p class="slider-top__name">Ян Шалимов</p>
            
            <ul class="tabs__top">
              <li class="tabs__item tabs__item--active">
                <a class="tabs__link tabs__link--one tabs__link--active" href="#tab-b1">Достижения</a>
              </li>
              <li class="tabs__item">
                <a class="tabs__link tabs__link--two" href="#tab-b2">Образование</a>
              </li>
            </ul>

            <ul class="tabs__content">
              <li class="tabs__box tabs__box--active" id="tab-b1">
                <div class="tabs__text">
                  <p>
                    За 5 лет провел более 1 000 индивидуальных и 2 000 групповых тренировок
                  </p>
                  <p>
                    Прошёл подготовку по специальностям «Профилактика травматизма в детском футболе» и «Спортивная
                    психология дошкольников»
                  </p>
                </div>
              </li>

              <li class="tabs__box" id="tab-b2">
                <div class="tabs__text">
                  <p> Воспитанник СДЮСШОР Локомотив</p>
                  <p>  Многократный призер и победитель городских,
                    всероссийских и международных турниров</p>   
                </div>
              </li>
            </ul>
          </div>
          <div class="tabs__image">
            <img class="tabs__img" src="images/trener2.png" alt="photo">
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>