.footer {
  padding: 64px 0 56px;
  font-size: 20px;
  background-color: $main;
  color: $white;

  @media screen and (max-width: 992px) and (orientation: landscape) {
    padding: 30px 0;
  }

  @include bp($md) {
    padding: 30px 0 20px 0;
  }

  // .footer__top

  &__top {
    display: flex;
    margin-bottom: 55px;

    @include bp($xl) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
      margin-bottom: 30px;
    }

    @include bp($sm) {
      margin-bottom: 30px;
    }
  }

  // .footer__content

  &__list {
    padding: 15px 0;
    max-width: 345px;
    width: 100%;
    margin-right: 40px;

    @include bp($xl) {
      order: 2;
      margin-right: 0;
      max-width: none;
    }
  }

  // .footer__item

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 57px;
      padding-left: 63px;

      @media screen and (max-width: 992px) and (orientation: landscape) {
        margin-bottom: 40px;
      }

      @include bp($sm) {
        margin-bottom: 40px;
      }
    }

    &::before {
      position: absolute;
      content: '';
      width: 48px;
      height: 48px;
      left: 0;
      top: -15px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--user {
      &::before {
        background-image: url(../images/user.png);
      }
    }

    &--phone {
      &::before {
        background-image: url(../images/phone.png);
      }
    }

    &--email {
      &::before {
        background-image: url(../images/email.png);
      }
    }

    &--time {
      &::before {
        top: 0;
        background-image: url(../images/time.png);
      }
    }
  }


  // .footer__link

  &__link {
    transition: color 0.2s;

    &:hover {
      color: $menu;
    }

    &:active {
      color: $black-l;
    }
  }

  // .footer__btn

  &__btn {
    position: relative;
    padding: 12px 80px 12px 100px;
    color: $main;
    background-color: $menu;
    box-shadow: 0px 4px 0px #AB8A38;

    @include bp($md) {
      display: block;
      margin: 0 auto;
    }

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      left: 55px;
      width: 32px;
      height: 32px;
      background-image: url(../images/ball.png);
      background-repeat: no-repeat;

      @media screen and (max-width: 992px) and (orientation: landscape) {
        left: 25px;
      }

      @include bp($xl) {
        left: 25px;
      }
    }

    &:hover {
      background-color: $green;
      box-shadow: 0px 4px 0px #3f8653;
    }

    &:active {
      background-color: $black-l;
      box-shadow: 0px 4px 0px #000;
    }

    @include bp($xl) {
      padding: 12px 45px 12px 70px;
    }

    @include bp($sm) {
      display: block;
      margin: 0 auto;
    }
  }

  // .footer__map

  &__map {
    border-radius: 20px;
    overflow: hidden;

    @include bp($xl) {
      width: 100%;
      margin-bottom: 20px;

      iframe {
        width: 100%;
        height: 300px;
      }
    }
  }

  // .footer__bottom

  &__bottom {
    text-align: center;

    @include bp($sm) {
      font-size: 16px;
    }

    p {
      &:last-child {
        @include bp($md) {
          padding: 20px 0 0 0;
          border-top: 1px solid #ccc;
        }
      }

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      span {
        color: $menu;
      }
    }
  }
}