.popup-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.849);
  display: none;
  cursor: pointer;

  &--active {
    display: block;
  }
}

.modal-btn {}

.modal-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  width: 640px;
  height: 786px;
  padding: 64px 110px 0px 110px;
  border: 10px solid $menu;
  border-radius: 40px;
  background-color: $popup;
  text-align: center;
  color: $main;

  @include bp($md) {
    max-width: 100%;
    height: 640px;
    padding: 30px 15px;
  }

  @include bp($sm) {
    max-width: 90%;
    height: 500px;
    padding: 40px 15px 30px 15px;
  }

  &--active {
    display: block;
  }


  &__title {
    font-size: 35px;
    margin-bottom: 15px;
    line-height: 1;

    @include bp($md) {
      font-size: 25px;
    }

    @include bp($sm) {
      font-size: 18px;
    }
  }

  &__text {
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 1.5;

    @include bp($sm) {
      margin-bottom: 15px;
      font-size: 16px;
    }
  }

}

.popup-close {
  font-size: 3rem;
  position: absolute;
  right: 11px;
  top: 0;
  color: $main;
}

.popup-form__input,
.popup-form__date,
.popup-form__btn {
  width: 100%;
  border: 2px solid $menu;
  border-radius: 50px;
  margin-bottom: 20px;
  height: 60px;
  text-align: left;
  padding: 12px 32px;
  font-size: 24px;
  color: $main;

  &::placeholder {
    color: #B0B0B0;
  }

  @include bp($sm) {
    height: 40px;
    font-size: 18px;
  }
}

.popup-form__btn {
  text-align: center;
  background-color: #B0B0B0;
  color: #fff;
  cursor: pointer;

  // надо дописать чтобы при заполнении всей формы кнопка становилась активной
  &--active {
    background-color: $main;
  }

  @include bp($sm) {
    padding: 0;
  }
}

.popup-form__date {
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    right: 40px;
    top: 16px;
    width: 20px;
    height: 20px;
    background-image: url('../images/icon/calendar.svg');
    background-repeat: no-repeat;

    @include bp($sm) {
      top: 10px;
      right: 28px;
    }
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 30px;
  background: transparent;
  cursor: pointer;
  z-index: 50;
}

.is-focused .choices__inner,
.is-open .choices__inner,
.choices__inner {
  border: 2px solid $menu;
  border-radius: 50px;
  height: 60px;
  text-align: left;
  padding: 12px 32px;
  background-color: #fff;

  @include bp($sm) {
    height: 40px;
    padding: 5px 32px;
  }
}

.is-open .choices__inner {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.is-open .choices__list--dropdown {
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: #fff;
  top: 100%;
  margin-top: -1px;
  border: 2px solid $menu;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.choices__list--single .choices__item {
  font-size: 24px;
  line-height: 1;
  color: $main;

  @include bp($sm) {
    font-size: 18px;
  }
}


.choices[data-type*=select-one]::after {
  content: '';
  position: absolute;
  right: 25px;
  top: 20px;
  height: 30px;
  width: 30px;
  background-image: url('../images/icon/up.svg');
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  border: none;
  transform: transform 0.3s;

  @include bp($sm) {
    top: 10px;
  }
}

.choices[data-type*=select-one].is-open::after {
  transform: rotate(180deg);
}

.choices__list--dropdown .choices__item {
  font-size: 24px;
  color: $main;
  line-height: 1.5;
  text-align: left;

  @include bp($sm) {
    font-size: 18px;
  }
}

.choices__list--dropdown .choices__list {
  padding: 30px 12px;
}

.choices__item--disabled {
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
  display: none;
}



.modal-small {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  width: 640px;
  height: 524px;
  padding: 64px 120px 0px 120px;
  border: 10px solid $menu;
  border-radius: 40px;
  background-color: $popup;
  text-align: center;
  color: $main;

  &--active {
    display: block;
  }

  &__title {
    margin-bottom: 40px;
  }

  img {
    margin: 0 auto;
    margin-bottom: 56px;
  }

  &__text {
    font-size: 26px;
  }
}