<section class="age">
  <div class="container">
    <h2 class="title">Две возрастные группы</h2>
    <div class="age__inner">
      <div class="age__item age__item--bear">
        <h3 class="age__subtitle">3—5 лет</h3>
        <p class="age__text">Специалисты рекомендуют начинать заниматься футболом с 3 лет. Не все школы идут на это. У нас дети занимаются по уникальной методике, разработанной для самых маленьких.</p>
      </div>
      <div class="age__item age__item--joy">
        <h3 class="age__subtitle">6—10 лет</h3>
        <p class="age__text">В группу постарше переходят как опытные ребята из младшей группы, так и те, кто только начинают занятия футболом.</p>
      </div>
    </div>
  </div>
  <div class="age-bottom">
    <div class="container">
       <ul class="age-bottom__wrap">
      <li class="age-bottom__box">
        Внимание к детям превыше всего
      </li>
      <li class="age-bottom__box">
        Все наши занятия проходят в ФОЦ «Сосновка Парк», на базе которой создана школа.      </li>
      <li class="age-bottom__box">
        Мы не сетевой проект и направляем внимание  только на качественную подготовку воспитанников.      </li>
    </ul>
    </div>
   
  </div>
</section>