<section class="plus">
  <div class="container">
    <h2 class="title title--blue">
      Преимущества
    </h2>

    <ul class="plus__inner">
      <li class="plus__item plus__item--1">
        <p class="plus__text">
          Первое занятие бесплатно
        </p>
      </li>
      <li class="plus__item plus__item--2">
        <p class="plus__text">
          Индивидуальный подход к каждому ученику и уникальная методика
        </p>
      </li>
      <li class="plus__item plus__item--3">
        <p class="plus__text">
          Футбольный лагерь — способ занять ребенка на каникулах
        </p>
      </li>
      <li class="plus__item plus__item--4">
        <p class="plus__text">
          Тренеры — действующие футболисты и победители соревнований
        </p>
      </li>
      <li class="plus__item plus__item--5">
        <p class="plus__text">
          Мини-группы до 10 человек
        </p>
      </li>
      <li class="plus__item plus__item--6">
        <p class="plus__text">
          В PINEcafe можно перекусить после тренировки полезной едой
        </p>
      </li>
    </ul>
  </div>
</section>