<div class="popup-overlay"></div>
<!-- <a class="modal-btn" href="#modal-popup">open</a> -->
<div class="modal-popup">
  <a class="popup-close" href="#modal-close">&times;</a>
 <h2 class="modal-popup__title">Запись на разовое занятие</h2>
 <p class="modal-popup__text">Проходят по вторникам и четвергам с 16:00 до 17:00</p>
 
 <form class="popup-form" action="#">

   <label for="" class="popup-form__label">
     <input class="popup-form__input" type="text" name="name" placeholder="Ваше имя" required>
   </label>
   
   <label for="" class="popup-form__label">
    <input class="popup-form__input" type="tel" name="phone" placeholder="Телефон" required>
  </label>

  <select class="popup-form__select" name="age" id="">
    <option selected disabled hidden>Возраст ребенка</option>
    <option value="3">3 года</option>
    <option value="4">4 года</option>
    <option value="5">5 лет</option>
    <option value="5">6 лет</option>
    <option value="5">7 лет</option>
  </select>

  <input class="popup-form__date" type="text" onfocus="(this.type='date')" id="date" placeholder="Дата занятия">

  <button class="popup-form__btn" type="submit">Записаться</button>
 </form>
</div>