.slider-top {
  position: relative;
  background-color: $slider;
  color: $main;
  padding: 120px 0;

  &::before {
    position: absolute;
    content: '';
    right: 7vw;
    top: 13vh;
    width: 900px;
    height: 900px;
    background-image: url('../images/slider-top-bg.png');
    background-repeat: no-repeat;
    opacity: 0.2;
  }

  // .slider-top__inner

  &__inner {}

  // .slider-top__item

  &__item {}

  &__wrap {
    position: relative;
    display: flex;
    justify-content: center;

  }

  // .slider-top__title

  &__title {}

  // .slider-top__name

  &__name {
    font-size: 32px;
    margin-bottom: 32px;
  }

  // .slider-top__tabs

  &__tabs {}
}


.tabs {
  // flex: 0 0 70%;
  // .tabs__top

  &__top {
    display: flex;
    margin-bottom: 40px;
  }

  // .tabs__item

  &__item {
    background-color: $menu;
    color: $main;
    padding: 12px 24px;
    border-radius: 8px;
    padding-left: 60px;

    &:not(:last-child) {
      margin-right: 12px;
    }

    &--active {
      background-color: $main;
      color: $white;
    }
  }

  // .tabs__link

  &__link {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      left: -40px;
      top: 0px;
    }

    &--one::before {
      background-image: url('../images/tab1.png');
    }

    &--two::before {
      background-image: url('../images/tab2.png');
    }

  }

  // .tabs__content

  &__content {
    max-width: 630px;
    width: 100%;
    max-height: 430px;
    overflow: hidden;
    margin-right: 110px;
  }

  &__box {
    display: none;
    font-size: 18px;

    &--active {
      display: block;
    }
  }

  // .tabs__text

  &__text {

    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  // .tabs__list

  &__list {
    list-style-type: disclosure-closed;
  }

  // .tabs__list-item

  &__list-item {}

  // .tabs__image

  &__image {
    position: relative;
    // flex: 0 0 30%;
    border-radius: 50%;

  }

  // .tabs__img

  &__img {
    position: relative;
    z-index: 2;
  }
}

.slick-arrow {
  position: absolute;
  z-index: 10;
  top: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  font-size: 0;
  background-color: $menu;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:hover {
    background-color: $main;
  }
}

.slick-next {
  right: 0;
  background-image: url('../images/cursor.png');
}

.slick-prev {
  left: 10px;
  background-image: url('../images/cursor.png');
  transform: scale(-1, 1);
}