<header class="header">

  <div class="header__top">

    <nav class="menu">
      <a class="logo" href="#">
        <img class="logo__img" src="images/icon/logo.svg" alt="logo">
      </a>
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#">Преимущества</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Тренеры</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Отзывы</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Cтоимость</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Контакты</a>
        </li>
        <li class="menu__item">
          <button class="menu__btn btn-js" type="button">Записаться</button>
        </li>
      </ul>

      <div class="menu__contacts">
        <a class="menu__phone" href="tel:+78122426291">+7 (812) 242 62 91</a>
        <ul class="menu__icons">
          <li class="menu__icon">
            <a class="menu__link-icon" href="#">
              <svg class="menu__svg menu__svg--vk">
                <use xlink:href="images/sprite.svg#vk"></use>
              </svg>
            </a>
          </li>
          <li class="menu__icon">
            <a class="menu__link-icon" href="#">
              <svg class="menu__svg menu__svg--instagram">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="menu__icon">
            <a class="menu__link-icon" href="#">
              <svg class="menu__svg menu__svg--telegram">
                <use xlink:href="images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>

      </div>

      <button class="burger" type="button">
        <span></span>
      </button>
    </nav>
  </div>

  <div class="header__content" style="background-image: url(images/header-bg.jpg);">
    <div class="container">
      <div class="header__wrap">
        <h1 class="title header__title">Футбольная школа <br> для детей от 3-х до 10 лет</h1>
        <div class="header__text">
          <p>Наши ученики становятся звездами футбола среди ровесников</p>
        </div>
        
        <button class="btn header__btn btn-js" type="button">Записаться</button>
      </div>
    </div>
  </div>
</header>